<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DashBoard Tornado</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
<title><%= title %></title>
<div style="color:#FF0000">
  <h1> <Strong>DashBoard <small>Tornado</small></strong></h1>
    <div style="color:#0000FF">
     <div style="color:BLUR">
      <p><h6><i>Painel de Controle</i></h6></p>
      </div>
    </div>
  </div>
</p><b>DashBoard</b></p>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tornado</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Projeto <span class="sr-only">(current)</span></a></li>
        <li><a href="#">PCB</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Componentes</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Geber</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">C++</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">GitHub</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://www.google.com.br">sit link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Pesquisa</button>
      </form>
      <!--<ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- Tabela de cdastro -->
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Dados do DB</div>
  <div class="panel-body">
   <p>Tabela para conectar  com banco do tipo NOSQL</p> 
  </div>
  <!-- Table -->
  <table style="width:100%">
  <tr>
    <th>Sharp</th>
    <th>Max Sonar</th> 
    <th>QTR Analogico</th>
  </tr>
  <!-- Dados do Banco de Dados Mongo DB-->
  <tr>
    <% model.forEach(function(custon){ %>
    <td><%= custon.bit %> </td>
    <td><%= custon.bit %></td> 
    <td><%= custon.bit %></td>
  </tr>
  <% }) %>
</table>
</div>

<!-- IMG Tornado -->
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="../img/tornado.png" alt="900">
    </a>
  </div>
  ...
</div>

<!-- Esperando Coneção Mongo DB -->
<pre>
Conecção estabelecida com DB
<span><a href="http://localhost:3000/new" onclick="add()"> PCI Geber</a>  </span>
</pre>

<script>
  var  txt;
  function add(){
     txt =  prompt("Painel de Controle","senha");

     if(txt == "zirdof"){
        window.alert("Acesso Premitido");
        console.log("Alerta!");
    }

    else{
      window.alert("Acesso Negado"+":"+txt); 
      document.innerHTML("<b> Ola Mundo </b>");
    }
}
  </script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
